#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media screen and (max-width: 500px) {
  #root {
    padding: 1rem;
  }
}

.light-mode {
  --bg-color: #f5f5f5;
  --color-main: #333;
  --color-meaning: #575757b4;
  --color-font-element: #ebebeb;
  --color-font-element-hover: #cfcfcf;
}

.dark-mode {
  --bg-color: #242424;
  --color-main: #fff;
  --color-meaning: #a3a3a3;
  --color-font-element: #353535;
  --color-font-element-hover: #a3a3a3;
}

.icon {
  animation: scaleIcon 0.3s normal;
}

@keyframes scaleIcon {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/*styles header*/

.header {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icon {
  line-height: 0.7;
}

.header__conf {
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.header__select {
  position: relative;
  width: auto;
  height: 30px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  color: var(--color-main);
}

.header__line {
  position: relative;
  width: 1px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.555);
}

.mode {
  display: flex;
  align-items: center;
}

.mode__box {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(94, 93, 93);
  cursor: pointer;
}

.mode__circle {
  position: absolute;
  top: 50%;
  left: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  transform: translateY(-50%);
  transition: left 0.3s;
}

.mode__circle.active {
  left: calc(100% - 15px - 3px);
  transition: left 0.3s;
}

/* styles search component */

.search {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #bbbbbbb6;
  margin-bottom: 1rem;
}

.search__form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__label {
  flex: 1;
  height: 100%;
}

.search__inp {
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
  background: none;
  border: none;
  outline: none;
  font-size: 1.1rem;
  color: var(--color-main);
  font-family: var(--font-family);
}

/* .search__inp::placeholder{
  color: var(--color-main);
} */

.search__btn {
  width: 40px;
  height: 100%;
  border: none;
  background: none;
  border-radius: 10px;
  display: grid;
  place-items: center;
}

/* styles word search */

.word {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.word__main {
  text-align: start;
}

.word__title {
  font-size: 2rem;
}

.word__btn-audio {
  display: block;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* styles tag */

.tag {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.tag__hr {
  flex: 1;
  border: 0;
  border-top: 1px solid var(--color-font-element-hover);
}

/* styles meaning */

.meaning {
  text-align: start;
  /* border: 1px solid; */
}

.meaning__list {
  padding-left: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  list-style: none;
  list-style-position: inside;
  /* border: 1px solid; */
}

.meaning__title {
  margin-bottom: 1rem;
  color: var(--color-meaning);
}

.meaning__item {
  position: relative;
  width: 100%;
  font-size: 0.85rem;
}

.meaning__item::before {
  margin: 0;
  padding: 0;
  content: "●";
  position: absolute;
  top: 3px;
  left: -15px;
  color: goldenrod;
  font-size: 11px;
}

.synonyms,
.antonyms {
  font-size: 0.7rem;
  color: rgba(124, 124, 124, 0.705);
}

.synonyms__text,
.antonyms__text {
  font-size: 0.8rem;
  color: rgba(243, 184, 74, 0.884);
}

.synonyms {
  margin-top: auto;
  text-align: start;
  font-weight: 200;
}

.antonyms {
  text-align: start;
}

.source {
  width: 100%;
  text-align: start;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  word-wrap: break-word;
}

.source__link {
  display: block;
  text-transform: none;
  text-decoration: none;
  color: inherit;
  text-decoration: underline;
  white-space: wrap;
}

/* media queries link*/

@media screen and (max-width: 500px) {
  .source__link {
    width: 100%;
  }
  
}


/* estyles font compenent */

.font {
  position: relative;
  /* overflow: hidden; */
  /* border: 1px solid; */
}

.font__header {
  position: relative;
  /* border: 1px solid #e65b5b; */
  display: flex;
  gap: 0.4rem;
  cursor: pointer;
}

.font__options {
  position: absolute;
  right: 0;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.3s;
}

.font__element {
  position: relative;
  height: 35px;
  border: none;
  background: none;
  padding: 0.5rem 1rem;
  /* border: 1px solid; */
  color: inherit;
  background-color: var(--color-font-element);
  white-space: nowrap;
  text-align: start;
  transition: background-color 0.3s;
}

.font__element:hover {
  background-color: var(--color-font-element-hover);
  color: var(--color-main);
}
